@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #87CEEB; /* Sky Blue */
    --secondary-main-color: #B0E2FF; /* Powder Blue */
    --text-color: #000000; /* Black */
    --accent-color1: #FF7F50; /* Coral */
    --accent-color2: #98FF98; /* Mint Green */
    --accent-color3: #E6E6FA; /* Lavender */
}



.navbar {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1%;
}

.topnav ul {
    display: flex;
    list-style: none;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0 3rem;
    cursor: pointer;
    color: var(--accent-color1);
}

.pages {
    margin: 0.8em 5em;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.links {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.links:hover {
    color: var(--accent-color1);
}

.menu {
    display: none;
    position: absolute;
    top: 1rem;
    right: 3rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.menu span {
    height: 0.4rem;
    width: 100%;
    background-color: var(--accent-color1);
    border-radius: 10px;
    margin: 4% 0;
    transition: all 0.3s ease-in-out;
}
.login{
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.lgnsgn{
    display: inline-block;
    text-align: center; 
    margin: 0 10px 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--accent-color1);
    background-color:var(--accent-color1);
}
.lgnsgn:hover{
    background-color:var(--accent-color2)
}
@media (max-width: 900px) {
    .textcenter{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 3%;
    }
    .navbar{
        width: 100%;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu.open span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 5px);
    }

    .menu.open span:nth-child(2) {
        opacity: 0;
    }

    .menu.open span:nth-child(3) {
        transform: rotate(-45deg) translate(9px, -7px);
    }

    .pages {
        display: none;
        position: absolute;
        top: 7%; 
        left: 50%;
        background-color: var(--secondary-main-color);
        width: 40%;
        transition: all 0.3s ease-in-out;
    }

    .pages.open {
        display: block;
    }

    .links {

        display: block;
        margin: 7% 7%;
        color: var(--text-color);
        transition: color 0.3s ease;
    }

    .topnav ul {
        display: block;
    }

    .links:hover {
        color: var(--accent-color1);
    }
}


/* item card  */

.notebook-card {
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.notebook-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--accent-color1);
}

.icons {
    display: flex;
    gap: 20px; 
    font-size: 1.5rem;
}

.icon {
    color: var(--accent-color1); 
    cursor:pointer;
}

.description {
    margin-bottom: 10px;
}

.date {
    font-style: italic;
}

@media (max-width: 600px) {
    .notebook-card {
        padding: 10px;
    }

    .title {
        font-size: 1.8rem;
    }

    .icons {
        gap: 10px;
    }
}



/* Alert component */

.alert {
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items:center;
}

/* Alert variants based on type */
.alert-info {
    background-color: var(--secondary-main-color); 
}

.alert-warning {
    background-color: var(--accent-color1);
}

.alert-success {
    background-color: var(--accent-color2); 
}

.alert-error {
    background-color: var(--accent-color3);
}